body {
  background:url("fondo.jpg");
  color: white;
  min-height: 100vh;
  background-size: cover;
}
.card {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
}
.fav-item {
  cursor: pointer;
  transition: 0.3s;
}
.fav-item:hover {
  background: rgba(255, 255, 255, 0.2);
}
#apod-image,
#apod-video {
  max-height: 500px;
  object-fit: contain;
  width: 100%;
  border-radius: 8px;
}

h2,.h5,h1{
  color: #ffc107;
}

